body {
  background-color: #white;
  color: #2b2829;
  font-size: 16px;
}

h1 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

h1, h3 {
    line-height: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
    padding-bottom: 0.9em;
}

nav {
  font-size: 0.75em;
}

nav {
  background-color: black;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  font-size: 1.5em
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link {color:#144fff; } /* unvisited */
a:visited {color:#8797c6; } /* visited */
a:hover {color:#0075c4; } /* mouse over */
a:active {color:#cecece; } /* selected */
